/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#controls {
    margin-top: 20px;
}

#mseDisplay {
    position: absolute;
    top: 20px;
    right: 20px;
}
